{% extends "index.html" %}
{% block content %}

<div>
  <img class="card-img" src='static/background/account.jpg' id="bracelet-img" style="height: 100%;">
  <div id="account-info">
    <h6>MY ACCOUNT</h6>
    <p>{{current_user.first_name}} {{current_user.last_name}}</p>
    <p>{{current_user.email}}</p>
    </div>
</div>

<h3 id="wishlist-title">{{current_user.first_name.upper()}}'S WISHLIST</h3>
{% if not products %}
  <h3 id="empty-wishlist">WISHLIST IS EMPTY!</h3>
  <a id="empty-wishlist-a" href="{{ url_for('core.home') }}">CONTINUE SHOPPING</a>
{% endif %}

<div class="row row-cols-2 row-cols-md-4 g-3" id="cards-home">
  {% for product in products %}
      <div class="col">
        <div class="card h-100" id="card-home" style="transform: scale(1.0);">
          <a href="{{url_for('core.about_product', product_id=product.id)}}"><img class="card-img-top" src=/static/images/{{ product.image }} alt="Card image cap" ></a>
          <div class="card-body">
            <h5 class="card-title"><a href="{{url_for('core.about_product', product_id=product.id)}}">{{product.name.upper()}}</a></h5>
            <p class="card-text">{{product.price}} €</p>
            <a href="{{url_for('users.remove_from_wishlist', product_id=product.id)}}" class="btn" id="list-remove">REMOVE</a>
          </div>
        </div>
      </div>
  {% endfor %}
</div>

{% endblock %}
